# Ignore build outputs
build/
install/
log/
logs/
*.cam
*.gv

# Editor & IDE
*.swp
*.swo
*~
.vscode/
.idea/
*.code-workspace

# ROS
*.bag
*.db
*.pcd
*.ply

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
